.outlet-container {
    margin-top: 80px;
    margin-bottom: 150px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
    right: 0;
    min-height: 75px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -5px 20px #00000027;
}

@media (max-width: 743px) {
    .footer-container {
        position: relative;
    }
    .outlet-container {
        margin-bottom: 50px;
    }
}