.lang-container {
  width: 90px;
  height: 42px;
}

.btn-cs {
  top: 2px;
  left: 2px;
}

.btn-en {
  top: 2px;
  right: 2px;
}

.lang-btn:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.grayscale {
  filter: grayscale(90%);
  opacity: 0.9;
}

.grayscale:hover {
  filter: grayscale(0%);
  opacity: 1;
}
