a {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05);
  font-weight: 600;
}

.text-primary {
  color: #27555f !important;
}

.text-secondary {
  color: #b6dad8 !important;
}

.text-success {
  color: #3f979f !important;
}

.text-info {
  color: #faf6e3 !important;
}

.text-warning {
  color: #f3a142 !important;
}

.text-danger {
  color: #b42414 !important;
}

.bg-primary {
  background-color: #27555f !important;
}

.bg-secondary {
  background-color: #b6dad8 !important;
}

.bg-success {
  background-color: #3f979f !important;
}

.bg-info {
  background-color: #faf6e3 !important;
}

.bg-warning {
  background-color: #f3a142 !important;
}

.bg-danger {
  background-color: #b42414 !important;
}

.btn-primary {
  background-color: #27555f !important;
  border-color: #27555f !important;
}

.btn-primary:hover {
  background-color: #7ebc89 !important;
  border-color: #7ebc89 !important;
}

.btn-secondary {
  background-color: #b6dad8 !important;
  border-color: #b6dad8 !important;
}

.btn-secondary:hover {
  background-color: #faedca !important;
  border-color: #faedca !important;
}

.btn-success {
  background-color: #3f979f !important;
  border-color: #3f979f !important;
}

.btn-success:hover {
  background-color: #c1dbb3 !important;
  border-color: #c1dbb3 !important;
}

.btn-info {
  background-color: #faf6e3 !important;
  border-color: #faf6e3 !important;
}

.btn-info:hover {
  background-color: #7ebc89 !important;
  border-color: #7ebc89 !important;
}

.btn-warning {
  background-color: #f3a142 !important;
  border-color: #f3a142 !important;
  color: white !important;
}

.btn-warning:hover {
  background-color: #c1dbb3 !important;
  border-color: #c1dbb3 !important;
}

.btn-danger {
  background-color: #b42414 !important;
  border-color: #b42414 !important;
}

.btn-danger:hover {
  background-color: #f2c078 !important;
  border-color: #f2c078 !important;
  color: black !important;
}

.border-primary {
  border-color: #27555f !important;
}

.border-secondary {
  border-color: #b6dad8 !important;
}

.border-success {
  border-color: #3f979f !important;
}

.border-info {
  border-color: #faf6e3 !important;
}

.border-warning {
  border-color: #f3a142 !important;
}

.border-danger {
  border-color: #b42414 !important;
}

.text-shadow {
  text-shadow: 2px 0 5px #00000080;
}

.text-shadow-white {
  text-shadow: 2px 0 5px #ffffff80;
}

.text-shadow-primary {
  text-shadow: 2px 0 5px #27555f;
}

.text-shadow-secondary {
  text-shadow: 2px 0 5px #b6dad8;
}

.text-shadow-success {
  text-shadow: 2px 0 5px #3f979f;
}

.text-shadow-info {
  text-shadow: 2px 0 5px #faf6e3;
}

.text-shadow-warning {
  text-shadow: 2px 0 5px #f3a142;
}

.text-shadow-danger {
  text-shadow: 2px 0 5px #b42414;
}